.unclicked-rect, .clicked-rect {
    fill-opacity: .3;
    stroke-width: 2px;
}

.unclicked-rect:hover, .clicked-rect:hover {
    cursor: pointer;
    opacity: 1;
    stroke: black;
    fill-opacity: 1;
    stroke-width: 1px;
}

.unclicked-rect {
    fill: blue;
}

.clicked-rect {
    fill: red;
}
