.scatterplotCircle {
    fill-opacity: .3;
    stroke-width: 2px;
    fill: blue;
}

.scatterplotCircle:hover {
    cursor: pointer;
    opacity: 1;
    stroke: black;
    fill-opacity: 1;
    stroke-width: 1px;
}


