.App {
  text-align: center;
}

.viz-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
}

.demo {
  width: 100px;
  height: 100px;
  background-color: aqua;
  text-align: center;
}